<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2 th:text="${'[' + member.getName() + '] 님의 정보 수정'}">회원 수정</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-12">
                <form th:action="@{/member/update/{id}(id=${member.id})}" method="post">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="guest" class="form-label">회원등급</label><br/>
                            <!-- <input type="text" class="form-control" name="grade" id="grade" placeholder="브론즈, 실버, 골드, 플래티넘, 다이아"> -->
                            <label><input type="radio" name="grade" id="guest" value="게스트" th:checked="${member.getGrade() eq 'guest'}">게스트</label><br/>
                            <label><input type="radio" name="grade" id="member" value="정회원" th:checked="${member.getGrade() eq 'member'}">정회원</label><br/>
                        </div>

                        <div class="col-12">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" id="name" name="name" th:placeholder="${member.getName()}" th:value="${member.getName()}">
                            <div class="invalid-feedback">
                                Your name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="period" class="form-label">구력</label>
                            <input type="text" class="form-control" name="period" id="period" th:placeholder="${member.getPeriod()}" th:value="${member.getPeriod()}">
                            <div class="invalid-feedback">
                                Input is empty.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="joinDate" class="form-label">가입일자</label>
                            <input type="text" class="form-control" id="joinDate" name="joinDate" th:placeholder="${member.getJoinDate()}" th:value="${member.getJoinDate()}">
                            <div class="invalid-feedback">
                                Input is empty.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="phone" class="form-label">전화번호</label>
                            <input type="text" class="form-control" name="phone" id="phone" th:placeholder="${member.getPhone()}" th:value="${member.getPhone()}">
                            <div class="invalid-feedback">
                                Please enter a valid number
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">주소</label>
                            <input type="text" class="form-control" name="address" id="address" th:placeholder="${member.getAddress()}" th:value="${member.getAddress()}">
                            <div class="invalid-feedback">
                                Please enter your address
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg mb-3" type="submit">회원 등록</button>
                    <!--                    <button class="w-100 btn btn-secondary btn-lg" th:href="@{memberlist}">목록으로</button>-->
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 오볼치</p>
    </footer>
</div>
</body>
</html>