<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>기간 연장</title>
</head>

<body class="container py-5">

<div class="list-group mx-0">

    <h1 class="text-center">전체 회원 기간 연장</h1>
    <form action="/member/plusPro" method="post">
        <label class="list-group-item d-flex gap-2 mb-3">
            <input class="form-check-input flex-shrink-0" type="radio" name="plusDate" id="plusDate" value="7">
            <span>
                <strong>7일 연장</strong>
                <small class="d-block text-muted">모든 회원의 기간을 7일 증가시킵니다.</small>
          </span>
        </label>

        <label class="list-group-item d-flex gap-2 mb-3">
            <input class="form-check-input flex-shrink-0" type="radio" name="plusDate" id="plusDate" value="30">
            <span>
                <strong>30일 연장</strong>
                <small class="d-block text-muted">모든 회원의 기간을 30일 증가시킵니다.</small>
          </span>
        </label>

        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg mb-3" type="submit">수정하기</button>
    </form>
    <hr class="my-4 mb-5">
    <hr class="my-4 mb-5">

    <!--  새로 추가  -->

    <h1 class="text-center">전체 회원 기간 임의 연장</h1>
    <form action="/member/plusPro" method="post">

        <label class="list-group-item d-flex gap-2">
            <span>
                <strong>임의 설정</strong><br>
                <input type="text" placeholder="연장 기간 입력" name="plusDate" id="plusDate">
                <small class="d-block text-muted">모든 회원의 기간을 임의로 설정합니다.</small>
            </span>
        </label>

        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg mb-3" type="submit">수정하기</button>
    </form>

</div>

</body>
</html>